<%- include('partials/header') -%>
<body>
    <!--Main Navigation-->
<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    #scroll {
      overflow-x: scroll;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
      padding: 2px 16px;
    }

    .search input[type=text]{
        width:40rem;
        height:2rem;
        border-radius:25px;
        border: 10px;
    }

    .search{
        float:left;
        margin:20px;
    }

    .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
  </style>

  <!-- Jumbotron -->
  <div id="intro" class="p-1 text-center bg-light">

  </div>
  <!-- Jumbotron -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!-- Header -->
    <h1>Event Listings</h1>
    <hr />

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/eventListings/<%="volunteer"%>">Volunteer</a>
        <a class="dropdown-item" href="/eventListings/<%="club"%>">Club</a>
        <a class="dropdown-item" href="/eventListings/<%="academic"%>">Academic</a>
        <a class="dropdown-item" href="/eventListings/">All Groups</a>
      </div>
    </div>
    <br>
    <div class="search">
        <form action="#">
            <input type="text"
                placeholder= " Search Events"
                name="search">
            <button>
                <i class="fa fa-search"
                    style="font-size: 18px;">
                </i>
            </button>
        </form>
    </div>

    <br> <br>

    <!--Section: News of the day -- we made edits to this-->
    <section  class="border-to pb-4 mb-5 colspan-10">
      <%for(i=0;i<eventFilter.length;i++){%>
      <div class="col-lg-4 col-md-24 mb-4 mb-lg-0">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-10">
            <div class="card" style="height: 30rem;width: 81rem;">
              <div class="card-body">
                <h4><b><%=eventFilter[i].title%></b></h4>
                <% if (eventFilter[i].organization) {%>
                  <p class="card-text"> <i> By <%=eventFilter[i].organization%></i></p>
                <%}%>

                <p class="card-text"><%=eventFilter[i].description%></p>
                <p class="card-text"><%=eventFilter[i].date%></p>
                <p class="card-text">Members: <%=eventFilter[i].members.length%> </p>
                <ul>
                  <%for(let j = 0; j<eventFilter[i].members.length;j++) {%>
                    <li><%=users[eventFilter[i].members[j].toString()].fullName%></li>
                  <%}%>
                </ul>
                <!-- Pass in this object to event.ejs -->
                <a role="button" class="btn btn-primary btn-lg m-2"
                   href="/event" rel="nofollow" target="_self">
                   About <%=eventFilter[i].title%>
                   <!-- Find a way to send data to event -->
                </a>
              </div>
            </div>
          </div>
        </div>
        <%}%>
    </section>

</main>
<!--Main layout-->

<%- include('partials/header') -%>
