<%- include('partials/header') -%>
<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    #scroll {
      overflow-x: scroll;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
      padding: 2px 16px;
    }

    .search input[type=text]{
        width:40rem;
        height:2rem;
        border-radius:25px;
        border: 10px;
    }

    .search{
        float:left;
        margin:20px;
    }

    .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    .card_container{
      display: flex;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
    .card_container:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card_content{
      width: 70%;
      padding: 2rem;
    }
    .card_control {
      width: 30%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  </style>

  <!-- Jumbotron -->
  <div id="intro" class="p-1 text-center bg-light">

  </div>

  <script type="text/javascript"
        src="eventListings.ejs">
  </script>

  <!-- Jumbotron -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!-- Header -->
    <h1><%=event.title%> Event</h1>
    <hr />
    <br>
    <!--Section: News of the day -- we made edits to this-->
    <section  class="border-to pb-4 mb-5 colspan-10">
        <div class="card_container">
          <div class="card_content">
            <h4><b><%=event.title%></b></h4>
            <% if (event.organization) {%>
              <p class="card-text"> <i> By <%=event.organization%></i></p>
            <%}%>
            <p class="card-text"><%=event.description%></p>
            <p class="card-text"><%=event.date%></p>
            <p class="card-text">Attendees:</p>
            <ul>
              <% if(typeof(event.members) != "undefined" && event.members.length > 0) { for(let j = 0; j<event.members.length;j++) {%>
                <li><%=users[event.members[j]].fullName%></li>
              <%} }%>
            </ul>
          </div>
          <div class="card_control">
            <a role="button" class="btn btn-primary btn-lg m-2" style="<%= followed == 1 ? 'display:none': '' %>"
               id="button" rel="nofollow" target="_self" onclick="followEvent">
               Follow <%=event.title%>
               <!-- Find a way to send data to event -->
            </a>
            <a role="button" class="btn btn-primary btn-lg m-2" style="background-color:grey; <%= followed == 0 ? 'display:none': '' %>"
               id="button" rel="nofollow" target="_self" onclick="unFollowEvent">
               Unfollow <%=event.title%>
               <!-- Find a way to send data to event -->
            </a>

            <a role="button" class="btn btn-primary btn-lg m-2"
               href="/event/<%=event.path%>/cal" rel="nofollow" target="_self">
               Export to Google Calendar
               <!-- Find a way to send data to event -->
            </a>
          </div>
        </div>
        <br>
<% if(isLeader) { %>
        <div class="container">
          <!-- Header -->
          <h1><%=event.title%> Admin View</h1>
          <hr />
          <br>
          <!--Section: News of the day -- we made edits to this-->
          <section  class="border-to pb-4 mb-5 colspan-10">
              <div class="card_container">
                <div class="card_content">
                  <form id="event_form" action="/event/<%= path %>" method="POST">
                  <h4><b>Edit Title:</b></h4>
                  <input type="text" name="title" value="<%=event.title%>"> <br> <br>
                  <% if (event.organization) {%>
                    <p class="card-text"> <i> By <%=event.organization%></i></p>
                  <%}%>
                  <label for="description">Edit Description:</label>
                  <br>
                  <textarea id="description" name="description" rows="4" cols="50"><%=event.description%>
                  </textarea> <br>
                  <label for="date">Edit Date (Currently set for <%=event.date%>):</label> <br>
                  <input id="date" type="date"> <br>
                  <label for="date">Edit Time:</label> <br>
                  <input id="time" type="time"> <br><br>
                  <label for="type_select">Type: </label>
                  <select name="type" id="type_select">
                      <option value ="volunteer" <%= event.type == 'volunteer' ? 'selected' : ''; %>>Volunteer</option>
                      <option value ="academic" <%= event.type == 'academic' ? 'selected' : ''; %>>Academic</option>
                      <option value ="club" <%= event.type == 'club' ? 'selected' : ''; %>>Club</option>
                      <option value ="internship" <%= event.type == 'internship' ? 'selected' : ''; %>>Internship</option>
                  </select>
                  <br>
                  <select name="attendees" id="event_attendees_select">
                    <% for(const userID in users) { %>
                      <option value="<%= userID %>" <%= event.members.includes(userID) ? 'disabled' : ''; %>><%= users[userID].email %></option>
                    <% } %>
                  </select>
                  <button onclick="addEventAttendees();" type="button">Add Attendees</button>
                  <br>
                  <label for="attendees">Attendees: </label>
                  <div id="event_attendees_list" class="user_list_container">
                    <% for(const userID in users) {
                      if(event.members.includes(userID)) {
                      %>
                      <div class="user_tag" data-user_id="<%= userID %>" onclick="removeEventAttendees(this, '<%= userID %>');"><%= users[userID].email; %></div>
                    <% } } %>
                  </div>
                  <div id="hidden_event_attendees_list">
                    <% for(const userID in users) {
                      if(event.members.includes(userID)) {
                      %>
                      <input type="hidden" name="attendeesList[]" value="<%= userID %>">
                    <% } } %>
                  </div>
                  <br>
                  </form>
                </div>
                <div class="card_control">
                  <a role="button" class="btn btn-primary btn-lg m-2" style="<%= followed == 1 ? 'display:none': '' %>"
                     id="button" rel="nofollow" target="_self" onclick="submitChanges()">
                     Update Changes
                     <!-- Find a way to send data to event -->
                  </a>

                  <a role="button" class="btn btn-primary btn-lg m-2"
                     href="../eventListings" rel="nofollow" target="_self">
                     Back
                     <!-- Find a way to send data to event -->
                  </a>
                </div>
              </div>
    </section>
  </div>
  <% } %>
    <script>
      function followEvent() {
        console.log("following");
      }
      function unFollowEvent() {
        console.log("unfollowing");
      }

      function submitChanges() {
        let event_form = document.querySelector("#event_form");
        event_form.submit();
      }

      function addEventAttendees() {
        let selectedUserID = document.getElementById("event_attendees_select").value;
        let userExists = document.querySelector(`#hidden_event_attendees_list input[value='${selectedUserID}']`);
        let selectedElement = document.querySelector(`#event_attendees_select option[value='${selectedUserID}']`);
        let attendeesListElement = document.getElementById("event_attendees_list");
        let hiddenAttendeesListElement = document.getElementById("hidden_event_attendees_list");

        let inputElement = document.createElement("input");
        let tagElement = document.createElement("div");
        if(userExists == null) {
          inputElement.setAttribute("type", "hidden");
          inputElement.setAttribute("name", "attendeesList[]");
          inputElement.setAttribute("value", selectedUserID);

          tagElement.classList.add("user_tag");
          tagElement.setAttribute("data-user_id", selectedUserID);
          tagElement.setAttribute("onclick", `removeEventAttendees(this, '${selectedUserID}');`);
          tagElement.innerText = selectedElement.innerText;

          attendeesListElement.append(tagElement);
          hiddenAttendeesListElement.append(inputElement);

          selectedElement.setAttribute("disabled", true);
        }
      }

      function removeEventAttendees(that, userID) {
        let inputElement = document.querySelector(`#hidden_event_attendees_list input[value='${userID}']`);
        let selectedElement = document.querySelector(`#event_attendees_select option[value='${userID}']`);
        if(inputElement) {
          selectedElement.removeAttribute("disabled");
          inputElement.remove();
          that.remove();
        }
      }
    </script>

</main>
<!--Main layout-->

<%- include('partials/footer') -%>
