<%- include('partials/header') -%>
    <!--Main Navigation-->
<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    #scroll {
      overflow-x: scroll;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
      padding: 2px 16px;
    }

    .search input[type=text]{
        width:40rem;
        height:2rem;
        border-radius:25px;
        border: 10px;
    }

    .search{
        float:left;
        margin:20px;
    }

    .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    .card_container{
      display: flex;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
    .card_container:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card_content{
      width: 70%;
      padding: 2rem;
    }
    .card_control {
      width: 30%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  </style>

  <!-- Jumbotron -->
  <div id="intro" class="p-1 text-center bg-light">

  </div>
  <!-- Jumbotron -->
</header>
<!--Main Navigation-->
<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!-- Header -->
    <h1><%=group.name%> Group</h1>
    <hr />
    <br>
    <!--Section: News of the day -- we made edits to this-->
    <section  class="border-to pb-4 mb-5 colspan-10">
        <div class="card_container">
          <div class="card_content">
            <h4><b><%=group.name%></b></h4>
            <p class="card-text">Leadership:
              <% for (let j = 0; j < group.leaders.length; j++) {%>
                <%=users[group.leaders[j].toString()].fullName%>,
              <%}%>
            </p>
            <p class="card-text">Advisor: <%=users[group.advisor.toString()].fullName%></p>
            <p class="card-text"><%=group.description%></p>
            <p class="card-text">Members:</p>
            <ul>
              <%for(let j = 0; j<group.members.length;j++) {%>
                <li><%=users[group.members[j].toString()].fullName%></li>
              <%}%>
            </ul>
          </div>
          <div class="card_control">
            <a role="button" class="btn btn-primary btn-lg m-2" style="<%= followed == 1 ? 'display:none': '' %>"
               id="button" rel="nofollow" target="_self" onclick="followEvent">
               Follow <%=group.name%>
               <!-- Find a way to send data to event -->
            </a>
            <a role="button" class="btn btn-primary btn-lg m-2" style="background-color:grey; <%= followed == 0 ? 'display:none': '' %>"
               id="button" rel="nofollow" target="_self" onclick="unFollowEvent">
               Unfollow <%=group.name%>
               <!-- Find a way to send data to event -->
            </a>

            <a role="button" class="btn btn-primary btn-lg m-2"
               href="/event/<%=group.path%>" rel="nofollow" target="_self">
               Export to Google Calendar
               <!-- Find a way to send data to event -->
            </a>
          </div>
        </div>
        <% if(isLeader) { %>
        <div class="container">
          <!-- Header -->
          <br>
          <h1><%=group.name%> Group Admin Page</h1>
          <hr />
          <br>
          <!--Section: News of the day -- we made edits to this-->
          <section  class="border-to pb-4 mb-5 colspan-10">
              <div class="card_container">
                <div class="card_content">
                  <form id="group_form" action="/group/<%= group.path %>" method="POST">
                  <h4><b>Edit Group Name:</b></h4>
                  <input type="text" name="groupName" value="<%=group.name%>"> <br> <br>
                  <select name="leader" id="group_leader_select">
                    <% for(const userID in users) { %>
                      <option value="<%= userID %>" <%= group.leaders.includes(userID) ? 'disabled' : ''; %>><%= users[userID].email %></option>
                    <% } %>
                  </select>
                  <button onclick="addGroupLeader();" type="button">Add Leader</button>
                  <br>
                  <label for="leaders">Leaders: (max 4)</label>
                  <div id="group_leader_list">
                    <% for(const userID in users) {
                      if(group.leaders.includes(userID)) {
                      %>
                      <div class="user_tag" data-user_id="<%= userID %>" onclick="removeGroupLeader(this, '<%= userID %>');"><%= users[userID].email; %></div>
                    <% } } %>
                  </div>
                  <div id="hidden_group_leader_list">
                    <% for(const userID in users) {
                      if(group.leaders.includes(userID)) {
                      %>
                      <input type="hidden" name="leaderList[]" value="<%= userID %>">
                    <% } } %>
                  </div>
                  <br>
                  <label for="type_select">Type: </label>
                  <select name="type" id="type_select">
                      <option value ="volunteer" <%= group.type == 'volunteer' ? 'selected' : ''; %>>Volunteer</option>
                      <option value ="academic" <%= group.type == 'academic' ? 'selected' : ''; %>Academic</option>
                      <option value ="club" <%= group.type == 'club' ? 'selected' : ''; %>Club</option>
                      <option value ="internship" <%= group.type == 'internship' ? 'selected' : ''; %>Internship</option>
                  </select>
                  <br>
                  <label for="advisor">Advisor:</label>
                  <select name="advisor" id="advisor">
                    <% for(const userID in users) { %>
                      <option value="<%= userID %>"><%= users[userID].email %></option>
                    <% } %>
                  </select>
                  <br>
                  <label for="description">Edit Description:</label>
                  <br>
                  <textarea id="description" name="description" rows="4" cols="50"><%=group.description%>
                  </textarea>
                  <br>
                  <select name="members" id="group_member_select">
                    <% for(const userID in users) { %>
                      <option value="<%= userID %>" <%= group.members.includes(userID) ? 'disabled' : ''; %>><%= users[userID].email %></option>
                    <% } %>
                  </select>
                  <button onclick="addGroupMember();" type="button">Add Member</button>
                  <br>
                  <label for="members">Members: </label>
                  <div id="group_member_list" class="user_list_container">
                    <% for(const userID in users) {
                      if(group.members.includes(userID)) {
                      %>
                      <div class="user_tag" data-user_id="<%= userID %>" onclick="removeGroupMember(this, '<%= userID %>');"><%= users[userID].email; %></div>
                    <% } } %>
                  </div>
                  <div id="hidden_group_member_list">
                    <% for(const userID in users) {
                      if(group.members.includes(userID)) {
                      %>
                      <input type="hidden" name="memberList[]" value="<%= userID %>">
                    <% } } %>
                  </div>
                  <br>
                  </form>
                </div>
                <div class="card_control">
                  <a role="button" class="btn btn-primary btn-lg m-2" style="<%= followed == 1 ? 'display:none': '' %>"
                     id="button" rel="nofollow" target="_self" onclick="submitChanges()">
                     Save Changes
                     <!-- Find a way to send data to event -->
                  </a>
                  <a role="button" class="btn btn-primary btn-lg m-2" style="<%= followed == 1 ? 'display:none': '' %>"
                     id="button" rel="nofollow" target="_self" onclick="followEvent" href="/eventCreation">
                     New Event
                     <!-- Find a way to send data to event -->
                  </a>
                  <a role="button" class="btn btn-primary btn-lg m-2"
                     href="/event/<%=group.path%>" rel="nofollow" target="_self">
                     Export to Google Calendar
                     <!-- Find a way to send data to event -->
                  </a>
                </div>
              </div>
            </section>
          </div>
        <% } %>
    <script>
      function followEvent() {
        console.log("following");
      }
      function unFollowEvent() {
        console.log("unfollowing");
      }

      function submitChanges() {
        let group_form = document.querySelector("#group_form");
        group_form.submit();
      }

      function addGroupLeader() {
        let selectedUserID = document.getElementById("group_leader_select").value;
        let userExists = document.querySelector(`#hidden_group_leader_list input[value='${selectedUserID}']`);
        let selectedElement = document.querySelector(`#group_leader_select option[value='${selectedUserID}']`);
        let leaderListElement = document.getElementById("group_leader_list");
        let hiddenLeaderListElement = document.getElementById("hidden_group_leader_list");

        let inputElement = document.createElement("input");
        let tagElement = document.createElement("div");
        if(userExists == null && hiddenLeaderListElement.children.length < 4) {
          inputElement.setAttribute("type", "hidden");
          inputElement.setAttribute("name", "leaderList[]");
          inputElement.setAttribute("value", selectedUserID);

          tagElement.classList.add("user_tag");
          tagElement.setAttribute("data-user_id", selectedUserID);
          tagElement.setAttribute("onclick", `removeGroupLeader(this, '${selectedUserID}');`);
          tagElement.innerText = selectedElement.innerText;

          leaderListElement.append(tagElement);
          hiddenLeaderListElement.append(inputElement);

          selectedElement.setAttribute("disabled", true);
        }
      }

      function removeGroupLeader(that, userID) {
        let inputElement = document.querySelector(`#hidden_group_leader_list input[value='${userID}']`);
        let selectedElement = document.querySelector(`#group_leader_select option[value='${userID}']`);
        if(inputElement) {
          selectedElement.removeAttribute("disabled");
          inputElement.remove();
          that.remove();
        }
      }

      function addGroupMember() {
        let selectedUserID = document.getElementById("group_member_select").value;
        let userExists = document.querySelector(`#hidden_group_member_list input[value='${selectedUserID}']`);
        let selectedElement = document.querySelector(`#group_member_select option[value='${selectedUserID}']`);
        let memberListElement = document.getElementById("group_member_list");
        let hiddenMemberListElement = document.getElementById("hidden_group_member_list");

        let inputElement = document.createElement("input");
        let tagElement = document.createElement("div");
        if(userExists == null) {
          inputElement.setAttribute("type", "hidden");
          inputElement.setAttribute("name", "memberList[]");
          inputElement.setAttribute("value", selectedUserID);

          tagElement.classList.add("user_tag");
          tagElement.setAttribute("data-user_id", selectedUserID);
          tagElement.setAttribute("onclick", `removeGroupMember(this, '${selectedUserID}');`);
          tagElement.innerText = selectedElement.innerText;

          memberListElement.append(tagElement);
          hiddenMemberListElement.append(inputElement);

          selectedElement.setAttribute("disabled", true);
        }
      }

      function removeGroupMember(that, userID) {
        let inputElement = document.querySelector(`#hidden_group_member_list input[value='${userID}']`);
        let selectedElement = document.querySelector(`#group_member_select option[value='${userID}']`);
        if(inputElement) {
          selectedElement.removeAttribute("disabled");
          inputElement.remove();
          that.remove();
        }
      }
    </script>

</main>
<!--Main layout-->

<%- include('partials/footer') -%>
