<%- include('partials/header') -%>
    <!--Main Navigation-->
<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    #scroll {
      overflow-x: scroll;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
      padding: 2px 16px;
    }

    .search input[type=text]{
        width:40rem;
        height:2rem;
        border-radius:25px;
        border: 10px;
    }

    .search{
        float:left;
        margin:20px;
    }

    .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
  </style>

  <!-- Jumbotron -->
  <div id="intro" class="p-1 text-center bg-light">

  </div>
  <!-- Jumbotron -->
</header>
<!--Main Navigation-->

<main class="my-5">
  <div class="container">
    <!-- Header -->
    <h1><%=group.name%> Event</h1>
    <hr />
    <br>
    <!--Section: News of the day -- we made edits to this-->
    <section  class="border-to pb-4 mb-5 colspan-10">
        <div class="card_container">
          <div class="card_content">
            <h4><b><%=group.name%></b></h4>
            <p class="card-text"><%=group.description%></p>

            <p class="card-text">Members: <%=group.members.length%> </p>
            <ul>
              <%for(let j = 0; j<group.members.length;j++) {%>
                <li><%=users[group.members[j].toString()].fullName%></li>
              <%}%>
            </ul>
          </div>
          <div class="card_control">
            <a role="button" class="btn btn-primary btn-lg m-2" style="<%= followed == 1 ? 'display:none': '' %>"
               id="button" rel="nofollow" target="_self" onclick="followEvent">
               Follow <%=group.name%>
               <!-- Find a way to send data to event -->
            </a>
            <a role="button" class="btn btn-primary btn-lg m-2" style="background-color:grey; <%= followed == 0 ? 'display:none': '' %>"
               id="button" rel="nofollow" target="_self" onclick="unFollowEvent">
               Unfollow <%=group.name%>
               <!-- Find a way to send data to event -->
            </a>

            <a role="button" class="btn btn-primary btn-lg m-2"
               href="/event/<%=event.path%>" rel="nofollow" target="_self">
               Export to Google Calendar
               <!-- Find a way to send data to event -->
            </a>
          </div>
        </div>
    </section>
    <script>
      function followEvent() {
        console.log("following");
      }
      function unFollowEvent() {
        console.log("unfollowing");
      }
    </script>

</main>
<!--Main layout-->

<%- include('partials/footer') -%>
