<%- include('partials/header')-%>
<header>
  <!-- Intro settings -->
  <style>
    body{
      margin-top:20px;
      color: #1a202c;
      text-align: left;
      background-color: #e2e8f0;
    }
    .main-body {
      padding: 15px;
    }
    .card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .25rem;
    }

    .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1rem;
    }

    .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
    }

    .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
    }
    .mb-3, .my-3 {
      margin-bottom: 1rem!important;
    }

    .bg-gray-300 {
      background-color: #e2e8f0;
    }
    .h-100 {
      height: 100%!important;
    }
    .shadow-none {
      box-shadow: none!important;
    }
    <!-- Member and Leader list -->
    .user_tag {
      border: 1px solid black;
      padding: 2px 1px;
    }
    .user_tag:hover {
      cursor: pointer;
      font-weight: bold;
    }
    input[type=text] {
      border-radius: 15px;
    }
    .user_list_container {
      overflow-y: auto;
      height: 158px;
    }
  </style>
</header>


<h2>Create a new group:</h2>
<form action="/groupCreation" method="POST">
  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
    <div class="card" style="height: 3rem;width: 40rem;">
      <div class="card-body">
        <label for="groupName">Group Name:</label>
        <input type="text" id="groupName" name="groupName" value="">

      </div>
    </div>
  </div
  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
    <div class="card" style="height: 3rem;width: 40rem;">
      <div class="card-body">
        <label for="description">Description of Group:</label>
        <input type="text" id="description" name="description" value="">
      </div>
    </div>
  </div
  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
    <div class="card" style="height: 8rem;width: 29rem;">
      <div class="card-body">
          <label for="type">Type: </label>
          <select name="type" id="type_select">
              <option value ="volunteer">Volunteer</option>
              <option value ="academic">Academic</option>
              <option value ="club">Club</option>
              <option value ="internship">Internship</option>
          </select>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
    <div class="card" style="height: 4rem;width: 40rem;">
      <div class="card-body">
        <label for="advisor">Advisor:</label>
        <select name="advisor" id="advisor">
          <% for(const userID in users) { %>
            <option value="<%= userID %>"><%= users[userID].email %></option>
          <% } %>
        </select>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
    <div class="card" style="height: 15rem;width: 40rem;">
      <div class="card-body">
        <select name="members" id="group_member_select">
          <% for(const userID in users) { %>
            <option value="<%= userID %>"><%= users[userID].email %></option>
          <% } %>
        </select>
        <button onclick="addGroupMember();" type="button">Add Member</button>
        <br>
        <label for="members">Members: </label>
        <div id="group_member_list" class="user_list_container">
        </div>
        <div id="hidden_group_member_list">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
    <div class="card" style="height: 15rem;width: 40rem;">
      <div class="card-body">
        <select name="leader" id="group_leader_select">
          <% for(const userID in users) { %>
            <option value="<%= userID %>"><%= users[userID].email %></option>
          <% } %>
        </select>
        <button onclick="addGroupLeader();" type="button">Add Leader</button>
        <br>
        <label for="leaders">Leaders: (max 4)</label>
        <div id="group_leader_list">
        </div>
        <div id="hidden_group_leader_list">
        </div>
      </div>
    </div>
  </div>
  <input type="submit" value="Create Group">

</form>
<script>
  function addGroupLeader() {
    let selectedUserID = document.getElementById("group_leader_select").value;
    let userExists = document.querySelector(`#hidden_group_leader_list input[value='${selectedUserID}']`);
    let selectedElement = document.querySelector(`#group_leader_select option[value='${selectedUserID}']`);
    let leaderListElement = document.getElementById("group_leader_list");
    let hiddenLeaderListElement = document.getElementById("hidden_group_leader_list");

    let inputElement = document.createElement("input");
    let tagElement = document.createElement("div");
    if(userExists == null && hiddenLeaderListElement.children.length < 4) {
      inputElement.setAttribute("type", "hidden");
      inputElement.setAttribute("name", "leaderList[]");
      inputElement.setAttribute("value", selectedUserID);

      tagElement.classList.add("user_tag");
      tagElement.setAttribute("data-user_id", selectedUserID);
      tagElement.setAttribute("onclick", `removeGroupLeader(this, '${selectedUserID}');`);
      tagElement.innerText = selectedElement.innerText;

      leaderListElement.append(tagElement);
      hiddenLeaderListElement.append(inputElement);

      selectedElement.setAttribute("disabled", true);
    }
  }

  function removeGroupLeader(that, userID) {
    let inputElement = document.querySelector(`#hidden_group_leader_list input[value='${userID}']`);
    let selectedElement = document.querySelector(`#group_leader_select option[value='${userID}']`);
    if(inputElement) {
      selectedElement.removeAttribute("disabled");
      inputElement.remove();
      that.remove();
    }
  }

  function addGroupMember() {
    let selectedUserID = document.getElementById("group_member_select").value;
    let userExists = document.querySelector(`#hidden_group_member_list input[value='${selectedUserID}']`);
    let selectedElement = document.querySelector(`#group_member_select option[value='${selectedUserID}']`);
    let memberListElement = document.getElementById("group_member_list");
    let hiddenMemberListElement = document.getElementById("hidden_group_member_list");

    let inputElement = document.createElement("input");
    let tagElement = document.createElement("div");
    if(userExists == null) {
      inputElement.setAttribute("type", "hidden");
      inputElement.setAttribute("name", "memberList[]");
      inputElement.setAttribute("value", selectedUserID);

      tagElement.classList.add("user_tag");
      tagElement.setAttribute("data-user_id", selectedUserID);
      tagElement.setAttribute("onclick", `removeGroupMember(this, '${selectedUserID}');`);
      tagElement.innerText = selectedElement.innerText;

      memberListElement.append(tagElement);
      hiddenMemberListElement.append(inputElement);

      selectedElement.setAttribute("disabled", true);
    }
  }

  function removeGroupMember(that, userID) {
    let inputElement = document.querySelector(`#hidden_group_member_list input[value='${userID}']`);
    let selectedElement = document.querySelector(`#group_member_select option[value='${userID}']`);
    if(inputElement) {
      selectedElement.removeAttribute("disabled");
      inputElement.remove();
      that.remove();
    }
  }
</script>

<%- include('partials/footer') -%>
