<%- include('partials/header') -%>
<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    #scroll {
      overflow-x: scroll;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
      padding: 2px 16px;
    }

    .search input[type=text]{
        width:40rem;
        height:2rem;
        border-radius:25px;
        border: 10px;
    }

    .search{
        float:left;
        margin:20px;
    }

    .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    .card_container{
      display: flex;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
    .card_container:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card_content{
      width: 70%;
      padding: 2rem;
    }
    .card_control {
      width: 30%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  </style>

  <!-- Jumbotron -->
  <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">LinkedTrin</h1>
    <p class="mb-3">A guide to academic and extracurricular opportunities at Trinity. Good luck!</p>
  </div>
  <!-- Jumbotron -->
</header>

<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
    <%for(i=0;i<=2;i++){%>
  <div class="container">
    <section class="border-to pb-4 mb-5">
      <h1>Popular Events</h1>
      <a role="button" class="btn btn-primary btn-lg m-2"
         href="/eventListings" rel="nofollow" target="_blank">
         All Events
      </a>
      <div class="col-lg-4 col-md-24 mb-4 mb-lg-0">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-10">
            <div class="card" style="min-height: 21rem;width: 81rem;padding: 2rem;">
              <div class="card-body">
                <h4><b><%=events[i].title%></b></h4>
                <% if (events[i].organization) {%>
                  <p class="card-text"> <i> By <%=events[i].organization%></i></p>
                <%}%>
                <p class="card-text"><%=events[i].description%></p>
                <p class="card-text"><%=events[i].date%></p>
                <p class="card-text">Attendees: <%=events[i].members.length%> </p>

                <a role="button" class="btn btn-primary btn-lg m-2"
                   href="/event/<%=events[i].path%>" rel="nofollow" target="_self">
                   About <%=events[i].title%>
                   <!-- Find a way to send data to event -->
                </a>

              </div>
            </div>
          </div>
        </div>
        <%}%>
      </section>
  </div>
</main>
<!--Main layout-->

<%- include('partials/footer') -%>
